@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");

@import "palette.scss";

html {
  margin: auto;
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

body {
  background: $bg;
  color: $fg;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 3em auto;
  text-align: justify;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

code {
  font-size: 12px;
}

ul {
  list-style-position: inside;
}

a {
  color: $link;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: $link-hover;
  transition: color 0.1s;
}

a:active,
a:focus {
  outline: none;
}

#app {
  margin: auto;
  max-width: 700px;
  width: 80%;

  #outlet {
    padding-top: 3em;
  }
}

p.date {
  color: $fg-muted;
  font-style: italic;
  margin: 0;
  margin-top: -1em;
  padding: 0;
  padding-bottom: 1em;
}

.fadein {
  animation-name: fadein;
  animation-duration: 1s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#header {
  display: flex;

  a {
    color: black;
  }

  a:hover {
    color: $link;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  #navbar,
  #logo,
  #social {
    display: flex;
    flex: 1 0 0;
  }

  #navbar,
  #social {
    margin: auto 0;
  }

  #navbar {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;

    ul {
      justify-content: space-between;
    }

    .active {
      font-weight: bold;
    }
  }

  #logo {
    flex-grow: 2;
    font-family: "Cormorant", serif;
    font-size: 40px;
    justify-content: center;
  }

  #social {
    justify-content: space-between;
  }
}

#posts {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

// Highlight links in the code listing on the landing page.
a.link.hljs-string {
  font-weight: bold;
}

.video {
  padding-bottom: 56.25%; // 16:9
  position: relative;

  iframe[src*="youtube.com"] {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
