body {
  background-color: rgba(0, 0, 50, 0.05);
  margin: auto;
  margin-top: 4em;
  width: 80%;
}

a {
  color: gray;
  font-size: 15pt;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: darkorange;
  transition: 0.1s;
}

#app {
  #outlet {
    padding: 3em 0;
  }
}

.fade {
  animation-name: fadein;
  animation-duration: 1.25s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#header {
  display: flex;

  #navbar,
  #branding {
    flex: auto;
  }

  #branding {
    text-align: left;
  }

  #navbar {
    text-align: right;

    a {
      margin: 0;
      padding: 0 0.75em;
    }
  }
}

#posts {
  text-align: center;
}

#footer {
  ul#social {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #social li {
    display: inline;
    padding: 0 1.5em;
  }
}
