@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");

@import "palette.scss";

* {
  box-sizing: border-box;
}

html {
  margin: auto;
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

body {
  background: $bg;
  color: $fg;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 3em auto;
  text-align: justify;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

code {
  font-size: 12px;
}

ul {
  list-style-position: inside;
}

a {
  color: $link;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: $link-hover;
  transition: color 0.1s;
}

a:active,
a:focus {
  outline: none;
}

.noscroll {
  overflow-y: hidden;
}

#app {
  margin: auto;
  max-width: 700px;
  width: 80%;

  #outlet {
    padding-top: 1.5em;
  }
}

p.date {
  color: $fg-muted;
  font-style: italic;
  margin: 0;
  margin-top: -1em;
  padding: 0;
  padding-bottom: 1em;
}

.fadein {
  animation-name: fadein;
  animation-duration: 1s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// TODO: Clean up this mess.
#header {
  $item-spacing: 1.5em;
  $menu-breakpoint: 601px;
  $menu-fontsize: 20px;

  display: flex;

  a {
    color: black;
  }

  a:hover {
    color: $link;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
    }
  }

  #menu {
    align-items: center;
    background: $bg;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.5s;
    width: 0;
    z-index: 1;

    .navbar li {
      display: block;
    }

    .navbar,
    .social {
      font-size: $menu-fontsize;
    }

    #logo,
    .navbar,
    .social {
      display: block;
      flex: none;

      li {
        margin: $item-spacing;
        text-align: center;
      }
    }
  }

  .navbar,
  #logo,
  .social {
    flex: 1 0 0;
  }

  #logo {
    margin: auto 0;
  }

  .navbar,
  .social {
    display: none;
    margin: auto 0;

    @media only screen and (min-width: $menu-breakpoint) {
      display: block;
    }
  }

  .navbar {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;

    li {
      margin-right: $item-spacing;
      text-align: left;
    }

    .active {
      font-weight: bold;
    }
  }

  #logo {
    font-family: "Cormorant", serif;
    font-size: 40px;
    text-align: center;
  }

  .social {
    text-align: right;

    li {
      margin-left: $item-spacing;
      white-space: nowrap;
    }
  }

  #menu-button {
    font-size: $menu-fontsize;
    margin: auto 0;

    @media only screen and (min-width: $menu-breakpoint) {
      display: none;
    }
  }
}

#posts {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

// Highlight links in the code listing on the landing page.
a.link.hljs-string {
  font-weight: bold;
}

.video {
  padding-bottom: 56.25%; // 16:9
  position: relative;

  iframe[src*="youtube.com"] {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
