@use "./theme.scss";

* {
  box-sizing: border-box;

  &:focus {
    -webkit-tap-highlight-color: transparent;
  }
}

html {
  margin: auto;
  // Hack to avoid content from being repositioned when
  // the scrollbar appears.
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

body {
  background: theme.$bg;
  color: theme.$fg;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: theme.$line-height;
  margin: 2em auto;
}

p {
  text-align: justify;

  > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 40%;
  }
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  line-height: 1.25;
  margin-top: 1.5em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.35em;
}

h3,
summary {
  font-size: 1.05em;
}

code {
  font-size: 12px;
}

blockquote {
  background-color: rgba(theme.$fg-muted, 0.02);
  border-left: solid 3px rgba(theme.$link, 0.75);
  font-style: italic;
  color: rgba(theme.$fg, 0.75);
  margin: 1em 0;
  /* Add negative margin to avoid text wrapping on hover. */
  margin-right: -2 * theme.$inner-padding;
  padding: theme.$inner-padding;
  padding-left: 2 * theme.$inner-padding;
  transition: 250ms;

  p {
    margin: 0;
    padding: 0;
  }

  &:active,
  &:hover {
    background-color: rgba(theme.$fg-muted, 0.1);
    border-left: solid 3px rgba(theme.$fg-muted, 0.25);
    padding-left: 2.5 * theme.$inner-padding;
  }

  cite {
    font-style: normal;
  }
}

ul {
  list-style-position: outside;
  list-style-type: circle;
  padding: 0;
  padding-left: 2.5em;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;

  &:focus {
    outline: 0;
  }

  &:hover,
  &:active {
    cursor: pointer;
  }
}

a {
  color: theme.$link;
  text-decoration: none;
  transition: color 250ms;

  &:hover {
    color: theme.$link-hover;
    transition: color 100ms;
  }
}

a:active,
a:focus,
summary {
  outline: none;
}

summary {
  font-weight: bold;
}

summary:hover {
  cursor: pointer;
}

img.header {
  display: block;
  margin: 0 auto;
  width: 40%;
}

p.date {
  color: rgba(theme.$fg-muted, 0.75);
  font-style: italic;
  margin: 0;
  margin-top: -0.5em;
  padding: 0;
  padding-bottom: 1em;
}

h1,
p.date {
  text-align: center;
}

main {
  margin: auto;
  max-width: theme.$text-width;
  width: 85%;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.hljs {
  background-color: rgba(theme.$fg-muted, 0.02);
}

h1,
h2,
h3 {
  .icon-link {
    $offset: 1em;

    display: block;
    float: left;
    margin-left: -$offset;
    opacity: 0;
    transition: 250ms;
    width: $offset;
  }

  &:hover .icon-link {
    opacity: 1;
    transition: 100ms;
  }
}

// Hide anchor tags on page headings.
h1 .icon-link {
  display: none;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }
}
