/* Responsive */
$menu-breakpoint: 575px;

/* Font sizes */
$menu-fontsize: 18px;

/* Colors */
$fg: #040f16;
$fg-muted: #454745;
$bg: #faf9f9;
$link: #ffc423;
$link-hover: $fg-muted;

$text-width: 650px;
$line-height: 1.75;

/* Padding */
$inner-padding: 0.5em;
$item-spacing: 1.5em;
