/* Responsive */
$menu-breakpoint: 575px;

/* Font sizes */
$menu-fontsize: 18px;

/* Colors */
$fg: #2d1048;
$fg-muted: #907060;
$bg: #fdf2e8;
$link: #ea580c;
$link-hover: $fg-muted;

$text-width: 800px;
$line-height: 1.75;

/* Padding */
$inner-padding: 0.5em;
$item-spacing: 1.5em;
