@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");

// https://coolors.co/ffc423-242423-454745-fbfbff-040f16

$fg: #040f16;
$fg-muted: #454745;
$bg: #fbfbff;
$link: #ffc423;
$link-hover: $fg-muted;

$inner-padding: 0.5em;
